sublime/.config/sublime-text-2/Packages/Default/Startup.cache
*Startup.cache
sublime/.config/sublime-text-2/Settings/Auto Save Session.sublime_session
sublime/.config/sublime-text-2/Packages/User/Package Control.cache*
sublime/.config/sublime-text-2/Settings/Session.sublime_session
